<mat-expansion-panel togglePosition="before">
  <mat-expansion-panel-header>
    <mat-panel-title> Enero </mat-panel-title>
    <mat-panel-description> 2025 </mat-panel-description>
  </mat-expansion-panel-header>

  <p>This is the primary content of the panel.</p>
  <button (click)="openRegisterMonthModal()">
    Agregar datos
  </button>
</mat-expansion-panel>

<mat-expansion-panel togglePosition="before">
  <mat-expansion-panel-header>
    <mat-panel-title> Febrero </mat-panel-title>
    <mat-panel-description> 2025 </mat-panel-description>
  </mat-expansion-panel-header>

  <p>This is the primary content of the panel.</p>
</mat-expansion-panel>

{{ dataService.mainData() | json }}
