<div class="p-3">
  @for (month of months; track month) {
  <div class="mt-5">
    <mat-expansion-panel togglePosition="before">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ month }}</mat-panel-title>
        <mat-panel-description>{{ currentYear }}</mat-panel-description>
      </mat-expansion-panel-header>

      <ng-container *ngIf="(dataService.mainData()!.data?.billing)![currentYear] as yearData">
        <app-month-detail [monthDetail]="yearData[month]" />
      </ng-container>
      <button (click)="openRegisterMonthModal()">Agregar datos</button>
    </mat-expansion-panel>
  </div>
  {{ month | json }}
  }
</div>

{{ dataService.mainData().data | json }}
