.full-width {
  width: 100%;
}

.tenant-form {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;

  mat-form-field {
    flex: 1;
  }
}

.button-row {
  display: flex;
  gap: 16px;
  margin-top: 24px;
  justify-content: space-between;
}
