<div class="flex flex-row justify-between my-3">
  <div class="flex flex-col">
    <span class="text-gray-500 text-sm">Precio total</span>
    <span class="text-lg md:text-xl font-semibold text-gray-800">
      S/298.21
    </span>
  </div>
  <div class="hidden md:block w-px h-6 bg-gray-300"></div>
  <div class="flex flex-col">
    <span class="text-gray-500 text-sm">Total KWh</span>
    <span class="text-lg md:text-xl font-semibold text-gray-800"> 340 </span>
  </div>
  <div class="hidden md:block w-px h-6 bg-gray-300"></div>
  <div class="flex flex-col">
    <span class="text-gray-500 text-sm">Precio KWh</span>
    <span class="text-lg md:text-xl font-semibold text-gray-800"> 0.876 </span>
  </div>
</div>

<hr class="my-3" />

<div class="flex flex-row justify-between align-middle items-center">
  <div class="flex flex-col">
    <span class="text-gray-500 text-sm"> Carlos Torres (05/01 - 15/01) </span>
    <span class="text-lg font-semibold text-gray-800"> 50Kwh </span>
  </div>

  <div class="flex flex-col">
    <span class="text-lg font-semibold text-gray-800">S/ 61.23</span>
  </div>
</div>
